.transport-window {
display: flex;
flex-direction: column;
min-height: auto;
padding: 20px;

position: relative;
margin: -400px auto 40px;
z-index: 100;  

width: 85%;
max-width: 800px;
min-height: 160px;
padding: 15px;
background: #0b0f17;
border-radius: 10px;
  border: 4px solid #065022;
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.9);
  box-sizing: border-box;
}

.transport-header-controls {
  display: flex;
flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
order: 1;
margin-bottom: 20px;
}

.genre-controls {
  color: #ffffff;
  z-index: 1000;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  border-color: #000000;
}

.control-buttons {
  z-index: 1000;
  color: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
}

.genre-controls select,
.genre-controls button,
.control-buttons button,
.center-generate-control-button,
.transport-btn {
  background-color: #0f1520; 
  color: #ffffff;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, .3);
  padding: 8px 12px; 
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; 
  height: fit-content;
}

.genre-controls select:hover,
.genre-controls button:hover,
.control-buttons button:hover {
  border-color: #ffffff; 
}


.chord-display {
  order: 2;
  display: flex;
justify-content: center;
align-items: center;
  text-transform: uppercase;
  font-size: clamp(24px, 6vw, 50px);
  color: #ffffff;
  text-align: center; 
  width: 100%;
  letter-spacing: 4px;
}