footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  min-height: 200px; 
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  padding: 10px 5%;
  box-sizing: border-box; 
}

.about-link {
  text-decoration: none;
  padding: 8px 18px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
   transition: all 0.2s ease;
}

.about-link:hover {
  color: #ff00ff;
}